<h3 class="f3">Lobby:<span class="ml2 maroon bg-light-gray code pa2">https://runeterraban.com/{{@roomName}}</span></h3>

<OtherPlayerStatus @otherPlayerConnected={{this.otherPlayerConnected}} @deckSelectionPhase={{this.deckSelectionPhase}}
  @otherPlayerDecksSubmitted={{this.otherPlayerDecksSubmitted}}
  @otherPlayerBanSubmitted={{this.otherPlayerBanSubmitted}} @banSelectionPhase={{this.banSelectionPhase}}
  @opponentBannedDeck={{this.opponentBannedDeck}} @bannedDeckString={{this.bannedDeckString}} />

{{#if this.otherPlayerConnected}}
{{#if this.banSelectionPhase }}
{{#if this.banSelected}}
<h5>You have banned {{this.bannedDeck}}</h5>
{{else}}
<h5>Choose which deck to ban</h5>
{{/if}}
<form onsubmit={{action "banDeck"}}>
  {{#if this.validDecks}}
  <div class="flex">
    <div>
      <Input @name="op-deck" @value="0" @type="radio" id="op-deck-1" />
      <label for="op-deck-1">
        <DeckCard @deckCode={{get this.opponentDeckList 0}} />
      </label>
    </div>
    <div>
      <Input @name="op-deck" @value="1" @type="radio" id="op-deck-2" />
      <label for="op-deck-2">
        <DeckCard @deckCode={{get this.opponentDeckList 1}} />
      </label>
    </div>
    <div>
      <Input @name="op-deck" @value="1" @type="radio" id="op-deck-3" />
      <label for="op-deck-3">
        <DeckCard @deckCode={{get this.opponentDeckList 2}} />
      </label>
    </div>
  </div>
  {{else}}

  <div class="pa1">
    <Input @name="op-deck" @value="0" @type="radio" id="op-deck-1" />
    <label for="op-deck-1" class="{{if (eq this.bannedDeckIdx '0') 'strike'}}">
      {{link-or-not (get this.opponentDeckList 0)}}
    </label>
  </div>
  <div class="pa1">
    <Input @name="op-deck" @value="1" @type="radio" id="op-deck-2" />
    <label for="op-deck-2" class="{{if (eq this.bannedDeckIdx '1') 'strike'}}">
      {{link-or-not (get this.opponentDeckList 1)}}
    </label>
  </div>
  <div class="pa1 mb3">
    <Input @name="op-deck" @value="2" @type="radio" id="op-deck-3" />
    <label for="op-deck-3" class="{{if (eq this.bannedDeckIdx '2') 'strike'}}">
      {{link-or-not (get this.opponentDeckList 2)}}
    </label>
  </div>
  {{/if}}
  {{#if this.banSelected}}
  <button class="mb3 f5 shadow-4 bn bg-white dark-gray ph3 pv3" disabled="true">
    Ban Deck
  </button>
  {{else}}
  <button class="mb3 f5 shadow-4 shadow-hover bn bg-white dark-gray ph3 pv3" type="submit">
    Ban Deck
  </button>
  {{/if}}
</form>
{{/if}}
{{/if}}



<section>
  {{#if this.decksSubmitted}}
  <h4>Decks submitted</h4>
  <p class="pa2">Deck 1:<br><span class="b">{{this.deck1}}</span></p>
  <p class="pa2">Deck 2:<br><span class="b">{{this.deck2}}</span></p>
  <p class="pa2">Deck 3:<br><span class="b">{{this.deck3}}</span></p>

  {{else}}
  <form onsubmit={{action "submitDecks"}}>
    <div class="mb3">
      <label for="deck-1" class="db mb1">Deck 1</label>
      <Input class="pa2 ba" id="deck-1" @value={{this.deck1}} type="text" />
    </div>

    <div class="mb3">
      <label for="deck-2" class="db mb1">Deck 2</label>
      <Input class="pa2 ba" id="deck-2" @value={{this.deck2}} type="text" />
    </div>

    <div class="mb3">
      <label for="deck-3" class="db mb1">Deck 3</label>
      <Input class="pa2 ba" id="deck-3" @value={{this.deck3}} type="text" />
    </div>
    {{#if this.otherPlayerConnected}}
    <button class="mb3 f5 shadow-4 shadow-hover bn bg-white dark-gray ph3 pv3" type="submit">
      Submit Decks
    </button>
    {{else}}
    <button type="submit" class="mr3 mb3 f5 shadow-4 bn bg-white gray ph3 pv3" disabled="true">
      Submit Decks
    </button> <span class="dark-red">Other player needs to connect first</span>
    {{/if}}
  </form>
  {{/if}}
</section>

<section class="mt5 code gray">
  <h4 class=" code pa0 ma0">Debug:</h4>
  {{#each this.messages as |message|}}
  <output class="db">{{message}}</output>
  {{/each}}
</section>