<div class="code">
{{#if @deck.champions.length}}
  <h4 class="center measure mv2">Champions</h4>
  <ul class="list pl0 measure center">
    {{#each @deck.champions as |card|}}
    <li class="pv1 ba bl-0 bt-0 br-0 b--solid b--black-30 flex justify-between items-center bg-{{trim card.region}}" {{on "mouseenter" (action (mut card.visible true))}} {{on "mouseleave" (action (mut card.visible ) false)}}>
      {{#if card.visible}}
        <img src="{{get (get card.assets 0) 'gameAbsolutePath'}}" class="db absolute w5 fl push-left"/>
      {{/if}}
            <span class="db"><span class="dark-blue">({{card.cost}})</span> {{card.name}} <span class="black-50">x{{card.count}}</span></span>
      <img class="db" src="/assets/images/{{trim card.region}}.png" width="32px" height="auto" />
    </li>
    {{/each}}
  </ul>
{{/if}}
{{#if @deck.followers.length}}
  <h4 class="center measure">Followers</h4>
  <ul class="list pl0 measure center">
    {{#each @deck.followers as |card|}}
    <li class="pv1 ba bl-0 bt-0 br-0 b--solid b--black-30 flex justify-between items-center bg-{{trim card.region}}" {{on "mouseenter" (action (mut card.visible true))}} {{on "mouseleave" (action (mut card.visible ) false)}}>
      {{#if card.visible}}
        <img src="{{get (get card.assets 0) 'gameAbsolutePath'}}" class="db absolute w5 fl push-left"/>
      {{/if}}
            <span class="db"><span class="dark-blue">({{card.cost}})</span> {{card.name}} <span class="black-50">x{{card.count}}</span></span>
      <img class="db" src="/assets/images/{{trim card.region}}.png" width="32px" height="auto" />
    </li>
    {{/each}}
  </ul>
{{/if}}
{{#if @deck.spells.length}}
  <h4 class="center measure">Spells</h4>
  <ul class="list pl0 measure center">
    {{#each @deck.spells as |card|}}
    <li class="pv1 ba bl-0 bt-0 br-0 b--solid b--black-30 flex justify-between items-center bg-{{trim card.region}}" {{on "mouseenter" (action (mut card.visible true))}} {{on "mouseleave" (action (mut card.visible ) false)}}>
      {{#if card.visible}}
        <img src="{{get (get card.assets 0) 'gameAbsolutePath'}}" class="db absolute w5 fl push-left"/>
      {{/if}}
      <span class="db"><span class="dark-blue">({{card.cost}})</span> {{card.name}} <span class="black-50">x{{card.count}}</span></span>
      <img class="db" src="/assets/images/{{trim card.region}}.png" width="32px" height="auto" />
    </li>
    {{/each}}
  </ul>
{{/if}}
</div>
