<div class="mh4 fr">
  <h2 class="fw1 tl mt0">Saved Decks </h2>
  {{#each this.savedDecks.deckList as |deck|}}
  <DragZone @deck={{deck}}>
    <div class="mt3" {{on "click" (fn this.openViewDeckModal deck.deck deck.name)}}>
        <DeckThumbnail @deck={{deck.deck}} @name={{deck.name}} />
    </div>
  </DragZone>
  {{/each}}
  {{#unless this.savedDecks.deckList.length}}
    <p class="mv4 w5 white">-- None -- </p>
  {{/unless}}
  <div class="ph1 mt3">
    <button class="bg-dark-card dib ba b--maroon ph4 pv3 shadow-4 no-underline shadow-hover br3 white-50 link hover-white" {{on "click" this.openNewDeckModal}}>
      + New Deck
    </button>
  </div>
</div>


{{#if this.isNewDeckModalOpen}}
  <Modal @clickedOutside={{this.closeNewDeckModal}}>
    <div class="tc">
    <h2>Add a deck</h2>
      <Input placeholder="Paste Deck Code Here..." class="code db pa3 w-100 ba br2 b--black-70" @value={{this.deckCode}} type="text"/>
      {{#if (and (eq this.isValidDeck false) this.deckCode)}}
        <p class="red">Invalid Deck Code</p>
        {{else}}
        <p> </p>
      {{/if}}
    </div>
    {{#if this.isValidDeck}}
      <p class="tc">
        Enter Deck Name
        <Input placeholder="{{get this.newDeck.regions 0 }} / {{get this.newDeck.regions 1 }} Deck" class="center db mv2 w5 pa2 br2 ba b--black-60" @value={{this.newDeckName}}/>
      </p>
        <DeckList @deck={{this.newDeck}}/>
        <div class="w-100 flex justify-between">
          <button
            class="f5 dib ba br2 b--black-20 bg-maroon white ph3 pv2 shadow-4 no-underline pointer"
            {{on "click" this.saveDeck}}
          >
            Save
          </button>
          <button
            class="bg-white f5 dib ba br2 b--maroon maroon ph3 pv2 shadow-4 no-underline pointer"
            {{on "click" this.closeNewDeckModal}}
          >
            Cancel
          </button>
        </div>
    {{/if}}
  </Modal>
{{/if}}

{{#if this.isViewDeckModalOpen}}
  <Modal @clickedOutside={{this.closeViewDeckModal}}>
    <h2 class="fw1 tc">{{this.viewDeckName}}</h2>
    <h3 class="code tracked tc fw1 break-word">{{this.viewDeck.code}}</h3>
    <DeckList @deck={{this.viewDeck}}/>
    <div class="w-100 flex justify-between">
      <button
        class="bg-dark-mode f5 dib ba br2 b--maroon maroon ph3 pv2 shadow-4 no-underline pointer dim"
        {{on "click" this.closeViewDeckModal}}
      >
        Close
      </button>
      <button
        class="f5 dib ba b--dark-red bg-dark-card dark-red ph3 pv2 shadow-4 br2 no-underline pointer dim"
        {{on "click" this.removeDeck}}
      >
        Delete
      </button>
    </div>
  </Modal>
{{/if}}
