
{{#if this.showDeckSubmit}}

  <div class="dn db-l">
    {{#each this.desktopDeckList as |playerDeck index| }}
      <div class="mv3">
        {{#if playerDeck}}
          <div class="flex items-center">
            <button
              type="button"
              class="db w-100 w-auto-ns bg-dark-card bn pa0" role="button"
              {{on "click" (fn this.showFullDeckList playerDeck)}}
              >
              <DeckThumbnail @deck={{playerDeck.deck}} @name={{playerDeck.name}} />
            </button>
            <div
              class="bg-dark-mode pa2 white pointer glow bn db ml3 o-50"
              role="button"
              {{on "click" (fn this.removeDeck index)}}>
              <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="#ccc" clip-rule="evenodd"><path d="M19 24h-14c-1.104 0-2-.896-2-2v-17h-1v-2h6v-1.5c0-.827.673-1.5 1.5-1.5h5c.825 0 1.5.671 1.5 1.5v1.5h6v2h-1v17c0 1.104-.896 2-2 2zm0-19h-14v16.5c0 .276.224.5.5.5h13c.276 0 .5-.224.5-.5v-16.5zm-9 4c0-.552-.448-1-1-1s-1 .448-1 1v9c0 .552.448 1 1 1s1-.448 1-1v-9zm6 0c0-.552-.448-1-1-1s-1 .448-1 1v9c0 .552.448 1 1 1s1-.448 1-1v-9zm-2-7h-4v1h4v-1z"/></svg>
            </div>
          </div>
        {{else}}
          <DropZone @idx={{index}} @selectDeck={{this.selectDraggedDeck}}/>
        {{/if}}
      </div>
    {{/each}}
  </div>
  <section class="dn-l">
    {{#each this.playerDecks as |playerDeck index| }}
      {{#if playerDeck}}
        <div class="mv3">
          <div class="flex items-center">
            <button
              type="button"
              class="db w-100 w-auto-ns bg-dark-card bn pa0" role="button"
              {{on "click" (fn this.showFullDeckList playerDeck)}}
              >
              <DeckThumbnail @deck={{playerDeck.deck}} @name={{playerDeck.name}} />
            </button>
            <div
              class="bg-dark-mode pa2 white pointer glow bn db ml3 o-50"
              role="button"
              {{on "click" (fn this.removeDeck index)}}>
              <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="#ccc" clip-rule="evenodd"><path d="M19 24h-14c-1.104 0-2-.896-2-2v-17h-1v-2h6v-1.5c0-.827.673-1.5 1.5-1.5h5c.825 0 1.5.671 1.5 1.5v1.5h6v2h-1v17c0 1.104-.896 2-2 2zm0-19h-14v16.5c0 .276.224.5.5.5h13c.276 0 .5-.224.5-.5v-16.5zm-9 4c0-.552-.448-1-1-1s-1 .448-1 1v9c0 .552.448 1 1 1s1-.448 1-1v-9zm6 0c0-.552-.448-1-1-1s-1 .448-1 1v9c0 .552.448 1 1 1s1-.448 1-1v-9zm-2-7h-4v1h4v-1z"/></svg>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </section>
  <div class="mt4">
    <DeckSubmit
      @playerDecks={{this.playerDecks}}
      @addDeckToPlayerDecks={{this.addDeckToPlayerDecks}}
      @submitPlayerDecks={{this.submitPlayerDecks}}
      @removeDeckFromPlayerDecks={{this.removeDeckFromPlayerDecks}}
    />
  </div>
{{/if}}

{{#if this.showDeckBan}}
  <DeckBan
    @playerDecks={{this.playerDecks}}
    @banDeck={{this.banDeck}}
    @showFullDeckList={{this.showFullDeckList}}
  />
{{/if}}


{{#if this.showBanResult}}
  <BanResults
    @showFullDeckList={{this.showFullDeckList}}
  />
{{/if}}


{{#if this.isFullDeckModalOpen}}
  <Modal
    @dismissModal={{this.closeFullDeckModal}}
    @title={{this.spotlightDeck.name}}
    >
    <DeckList @deck={{this.spotlightDeck.deck}}/>
  </Modal>
{{/if}}
